/* UTILS */

.bg-green{
    background-color: #1ABC9B;
}

.bg-footer{
    background-color: #3B546E;
}

.bg-header{
    background-color: #2C3F4F;
}

img{
    max-width: 100%;
}

header{
    height: 100px;
}

section{
    margin-bottom: 30px;
}

header .row > [class^='col']{
    height: 100px;
}

.line{
    height: 5px;
    border-radius: 10px;
}

.icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
}